#iconNativery32{
	background-image: url("../images/icon32.png");	
}
.wtPanel sub {
	font-size: 12px;
	margin-left: 10px;
}
.wtWidefat {
	margin-bottom: 10px;	
}
.widefat.wtWidefat th{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 12px;
}
.wtPanel .input_section{
border:1px solid #ddd;
line-height: 28px;
border-bottom:0;
background:#f9f9f9;
border-radius: 3px 3px 3px 3px;
margin-bottom: 30px;
}
.wtPanel .option_input label{
font-size:12px;
font-weight:700;
width:160px;
display:block;
float:left;
}
.wtPanel .option_input label span{
	font-size: 75%;
}
.wtPanel .option_input {
padding:30px 10px;
border-bottom:1px solid #ddd;
border-top:1px solid #fff;
}
.wtPanel .option_input small{
display:block;

}
.wtPanel .option_input input[type="text"], .wtPanel .option_input select{
width:250px;
font-size:12px;
padding:4px;
color:#333;
line-height:1em;
background:#f3f3f3;
}
.wtPanel .option_input .radionat{
	width:250px;
	float: left;
}
.wtPanel .option_input input:focus, .wtPanel .option_input textarea:focus{
background:#fff;
}
.wtPanel .option_input input[type="text"].error{
	border: 1px solid #c00;
}
.wtPanel .option_input textarea{
min-width:100%;
min-height:175px;
font-size:12px;
padding:4px;
color:#333;
line-height:1.5em;
background:#f3f3f3;
}
.wtPanel .input_title h3 {
color: #464646;
cursor: pointer;
float: left;
font-size: 14px;
margin: 0;
padding: 5px 0 0;
text-shadow: 0 1px 0 #FFFFFF;
 
}
.wtPanel .input_title{
cursor:pointer;
border-bottom:1px solid #ddd;
margin: 0;
padding: 7px 10px;
background-color: #eae9e9;
background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
font-size: 15px;
font-weight: normal;
line-height: 1;
border-bottom-color: #DFDFDF;
box-shadow: 0 1px 0 #FFFFFF;
}
.wtPanel .input_title:after {
  content: "";
  display: table;
  clear: both;
}
.wtclear:after {
  content: "";
  display: table;
  clear: both;
}
.wtPanel .input_title h3 img {
position: relative;
top: -2px;
vertical-align: middle;
margin-right: 5px;
}
 
.wtPanel .input_title span.submit{
display: block;
float: right;
margin: 0 20px;
padding: 0;
}
.wtPanel .clearfix{
clear:both;
}
.wtPanel .optSep{
	clear:both;
	border-top: 1px dotted #dedede;
	margin: 5px 0;
}
 
.wtPanel form > p.submit {
float: right;
padding: 0;
margin-right: 30px;
}
.wtPanel .options_wrap > ul li {
display: inline;
margin-right: 5px;
}
.wtPanel .content_options .message {
margin-top: 30px
}
.wtPanel .footer-credit{
margin-top: 60px
}

.wtPanel .prettyprint {
	padding: 0 10px;
	background: #FEFEFE;
	border: 1px solid #DDD;	
}
.wtPanel li.L1, .wtPanel li.L3, .wtPanel li.L5, .wtPanel li.L7, .wtPanel li.L9 {
background: #FAFAFA;
}
.bulkInfo {
color: #3a87ad;
background-color: #d9edf7;
border: 1px solid #bce8f1;
padding: 15px 35px 15px 15px;
border-radius: 4px;
}